## Final Project, Part 1-2:


#### Problem statement

millions of transactions payments to sellers are made everyday on ecommerce platform like shopee or lazada. with the increase in volume, an intelligent system of fraud detection is required for the employees to deal with the mounting transactions volume.

Questions: 
Q1: how to  predict if a tranction is a fraud,using a selected list of given attributed
Q2: is the classification model better than the current Flagging system that flagged transactions that are more than 200,000?

So far 18 out of 18 flagged transactions are indeed Fraud
but 8200 fraud transactions are NOT flagged.

Attribute CO
Target Columns: 'isFraud'

Objective:
Build a Classification Model that can predict if a transaction is fraud or not fraud
    - model 1: Classification model using Linear Regression
    - model 2: Logistic Regression
    - model 3: decision tree?
    
Determine if the Classification model is more accurate compared to the baseline:
    - the baseline is the current flagging system, which detected correctly 18 out of 8218 cases of actual fraud

#### Data Source

https://www.kaggle.com/ntnu-testimon/paysim1

#### Risks or limitations
- Curse of dimentionality:
The dataset might be too thin 6m rows and
- imbalance dataset, the non-fraud observations might be over presented
- unknown variables that are not given in the orginal dataset that might have predicting power over whether a transaction is fraud

### Description of Given Dataset

1. step: Maps a unit of time in the real world. In this case 1 step is 1 hour of time.
2. type: CASH-IN, CASH-OUT, DEBIT, PAYMENT and TRANSFER
3. amount: amount of the transaction in local currency
4. nameOrig: customer who started the transaction
5. oldbalanceOrg: initial balance before the transaction
6. newbalanceOrig: customer's balance after the transaction.
7. nameDest: recipient ID of the transaction. 
8. oldbalanceDest: initial recipient balance before the transaction.
9. newbalanceDest: recipient's balance after the transaction.
10. isFraud: identifies a fraudulent transaction (1) and non fraudulent (0)
11. ifFlaggedFraud: flags illegal attempts to transfer more than 200.000 in a single transaction. 


#### Detailed Steps Taken:
1. 
2. from sklearn.preprocessing import LabelEncoder
3. from sklearn.preprocessing import StandardScaler
4. smote
3. train, test, split
4. .fit

5. sklearn.metrics import classification_report
    - the row with the lower support col is the minority class
    - Recal(sensitity) is the ratio of correctly predicted positive to th all observation 
7. calculate the Recall of the minority class, should definitely zoom in when do the classification report
8. might need to sacrifice some precision for recall, because the cost of not detecting a fraud case is very high

9. can adjust threshold in logistic regression (0.5 to 0.3) to adjust for the cost: if the cost of true positive is higher than false positive (adjust threhold is not frequent)

10. Classification Trees, Decision Forest and use feature_importance_ to determine which features are important in the classifier
Read the classificaiton report, recall of the minority class

> EDA

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
path_to_file = 'C:\\Users\\harriet.ly\\Documents\\General Assembly Notes\\GA_Projects\\Projects\\Project 4\\fraud.csv'
dataset = pd.read_csv(path_to_file)
dataset.head(3)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0

In [3]:
# check number of rows and columns
dataset.shape

(6362620, 11)

In [4]:
# Test if there is any null values
dataset.isnull().values.any()

False

In [5]:
#1. Check if there are repeated nameOrig and nameDest, if there are alot, we will use label encode them to use in our model, 
# otherwise, we drop them
dataset['nameOrig'].nunique() # check if there are nameOrig with multiple transactions

6353307

In [6]:
dataset['nameDest'].nunique() # check if there are repeated nameDest

2722362

In [7]:
# There are a lot fewer unique values for nameDest, meaning lots of repeated nameDest, hence we will proceed to encode nameDest 
# to use as an attribute in our model, and drop 'nameOrig' as it is considered as unique as an ID

In [8]:
# Label encoder on nameOrig and nameDest, these two variables are like IDs of the transactions but we will labelencode them to
# include them into the model because they may contain
# important information on the pattern/frequence of the same nameDest or nameOrg. 
# for isntance, highly repeated nameDest is an indicator of fraud

from sklearn import preprocessing

#instantiate
le = preprocessing.LabelEncoder()

#Labelencode, this process might take a while to run
le.fit(dataset['nameDest'])

#nameOrigin_Encoded=le.transform(dataset['nameOrig'])
nameDest_Encoded=le.transform(dataset['nameDest'])

#dataset['nameOrigin_Encoded']=nameOrigin_Encoded
dataset['nameDest_Encoded']=nameDest_Encoded

In [9]:
dataset.head().sort_values(by='nameDest_Encoded',ascending=True)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,nameDest_Encoded
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,391696
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,439685
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,828919
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,1662094
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,1733924

In [10]:
#2. Check if col isFlaggedFraud is completed relatd to Col amount. If amount > 200k, isFlaggedFraud =1
data_flaggedFraud = dataset[dataset['isFlaggedFraud']==1]
data_flaggedFraud[data_flaggedFraud['amount']<200000].shape

(0, 12)

In [11]:
#3. Next, we check if the Col amount is equal to the abs(newbalanceOrig-oldbalanceOrg), In a genuine transaction, the difference between the
# beginning and ending balance of the original account should be the same as the amount of transactions.
# Note that oldbalanceOrg is not necessary always larger than newbalanceOrig, depending on what kind of transactions, hence we use abs()
dataset['error_balanceOrig']= abs(dataset['oldbalanceOrg'] - dataset['newbalanceOrig'])-dataset['amount']
dataset[dataset['error_balanceOrig']>0].shape

(916134, 13)

In [12]:
# there are 1m transactions whose amount do not tally with the origin beginning and ending balances, hence 
# we will include  'error_old_new_balanceOrigin' as an attribute in our fraud detection model

In [13]:
#4. Next, we check if the Col amount is equal to the abs(newbalanceDest-oldbalanceDest)
dataset['error_balanceDest']= abs(dataset['newbalanceDest']-dataset['oldbalanceDest'])-dataset['amount']
dataset[dataset['error_balanceDest']>0].shape

(1567460, 14)

In [14]:
# there are 1m+ transactions whose amount do not tally with the destination beginning and ending balances, hence 
# 'error_old_new_balanceDest' should be used as an attribute in our fraud detection model

In [15]:
#5. Next we check for symmetry if the change in destination account is the same as the change in the original account

dataset['asymmetry']= abs(dataset['newbalanceDest']-dataset['oldbalanceDest']) != abs(dataset['oldbalanceOrg'] - dataset['newbalanceOrig'])

dataset[dataset['isFraud']==1]['asymmetry'].sum()

6036

In [16]:
# there is a very high percentage of fraud case, 6000+ out of 8000 case of fraud has the asymmetry pattern, 
# therefore we will include the asymmetry in our fraud detection model
# although we now need to be extra careful of multicollinearity in our model if correlated attributes are present
# we will look into removing at least one of the 4 attributes: newbalanceDest, oldbalanceDest, oldbalanceOrg, newbalanceOrig

In [17]:
#6. Check on the categorical attribute 'type'
dataset['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [18]:
#to use get_dummies to transform this categorical col into 5 Cols that take values 0 and 1
dataset=pd.get_dummies(data=dataset, columns=['type'])
dataset.head()

,step,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,nameDest_Encoded,error_balanceOrig,error_balanceDest,asymmetry,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,1662094,1.455192e-11,-9839.64,True,0,0,0,1,0
1,1,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,1733924,-1.136868e-12,-1864.28,True,0,0,0,1,0
2,1,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,439685,0.000000e+00,-181.00,True,0,0,0,0,1
3,1,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,391696,0.000000e+00,21001.00,True,0,1,0,0,0
4,1,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,828919,0.000000e+00,-11668.14,True,0,0,0,1,0

In [19]:
# Lastly in the EDA/preliminary feature selection, we drop attributes columns that are correlated to other attributes
# Note that Assymmetry can actually be determined by error_balanceOrig,error_balanceDest, and amount, therefore we wil drop it too
data = dataset.drop(['nameOrig','nameDest','newbalanceOrig','newbalanceDest','isFlaggedFraud','asymmetry'], axis=1)
data

,step,amount,oldbalanceOrg,oldbalanceDest,isFraud,nameDest_Encoded,error_balanceOrig,error_balanceDest,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,0.00,0,1662094,1.455192e-11,-9.839640e+03,0,0,0,1,0
1,1,1864.28,21249.00,0.00,0,1733924,-1.136868e-12,-1.864280e+03,0,0,0,1,0
2,1,181.00,181.00,0.00,1,439685,0.000000e+00,-1.810000e+02,0,0,0,0,1
3,1,181.00,181.00,21182.00,1,391696,0.000000e+00,2.100100e+04,0,1,0,0,0
4,1,11668.14,41554.00,0.00,0,828919,0.000000e+00,-1.166814e+04,0,0,0,1,0
5,1,7817.71,53860.00,0.00,0,2247218,-9.094947e-13,-7.817710e+03,0,0,0,1,0
6,1,7107.77,183195.00,0.00,0,2063363,-1.091394e-11,-7.107770e+03,0,0,0,1,0
7,1,7861.64,176087.23,0.00,0,2314008,1.364242e-11,-7.861640e+03,0,0,0,1,0
8,1,4024.36,2671.00,0.00,0,768940,-1.353360e+03,-4.024360e+03,0,0,0,1,0
9,1,5337.77,41720.00,41898.00,0,282960,-3.637979e-12,-3.788560e+03,0,0,1,0,0
10,1,9644.94,4465.00,10845.00,0,571261,-5.179940e+03,1.374922e+05,0,0,1,0,0
11,1,3099.97,20771.00,0.00,0,1791734,1.364242e-12,-3.099970e+03,0,0,0,1,0
12,1,2560.74,5070.00,0.00,0,2692147,0.000000e+00,-2.560740e+03,0,0,0,1,0
13,1,11633.76,10127.00,0.00,0,2501242,-1.506760e+03,-1.163376e+04,0,0,0,1,0
14,1,4098.78,503264.00,0.00,0,1279605,2.819434e-11,-4.098780e+03,0,0,0,1,0
15,1,229133.94,15325.00,5083.00,0,417183,-2.138089e+05,-1.827035e+05,0,1,0,0,0
16,1,1563.82,450.00,0.00,0,1386138,-1.113820e+03,-1.563820e+03,0,0,0,1,0
17,1,1157.86,21156.00,0.00,0,1548183,6.821210e-13,-1.157860e+03,0,0,0,1,0
18,1,671.64,15123.00,0.00,0,2135630,-5.684342e-13,-6.716400e+02,0,0,0,1,0
19,1,215310.30,705.00,22425.00,0,29714,-2.146053e+05,-1.928853e+05,0,0,0,0,1
20,1,1373.43,13854.00,0.00,0,955222,2.273737e-13,-1.373430e+03,0,0,0,1,0
21,1,9302.79,11299.00,29832.00,0,288088,0.000000e+00,3.632510e+03,0,0,1,0,0
22,1,1065.41,1817.00,10330.00,0,428515,-2.273737e-13,9.264590e+03,0,0,1,0,0
23,1,3876.41,67852.00,0.00,0,1022733,3.637979e-12,-3.876410e+03,0,0,0,1,0
24,1,311685.89,10835.00,6267.00,0,552201,-3.008509e+05,2.401220e+06,0,0,0,0,1
25,1,6061.13,443.00,0.00,0,1193108,-5.618130e+03,-6.061130e+03,0,0,0,1,0
26,1,9478.39,116494.00,0.00,0,2259983,0.000000e+00,-9.478390e+03,0,0,0,1,0
27,1,8009.09,10968.00,0.00,0,1938066,0.000000e+00,-8.009090e+03,0,0,0,1,0
28,1,8901.99,2958.91,0.00,0,1981406,-5.943080e+03,-8.901990e+03,0,0,0,1,0
29,1,9920.52,0.00,0.00,0,1617867,-9.920520e+03,-9.920520e+03,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362590,741,323726.61,323726.61,0.00,1,91847,0.000000e+00,-3.237266e+05,0,0,0,0,1
6362591,741,323726.61,323726.61,561753.58,1,570079,0.000000e+00,0.000000e+00,0,1,0,0,0
6362592,741,383661.10,383661.10,0.00,1,203820,0.000000e+00,-3.836611e+05,0,0,0,0,1
6362593,741,383661.10,383661.10,1788112.70,1,316452,0.000000e+00,-1.164153e-10,0,1,0,0,0
6362594,741,144945.34,144945.34,0.00,1,74402,0.000000e+00,-1.449453e+05,0,0,0,0,1
6362595,741,144945.34,144945.34,0.00,1,487829,0.000000e+00,0.000000e+00,0,1,0,0,0
6362596,741,48442.88,48442.88,0.00,1,329852,0.000000e+00,-4.844288e+04,0,0,0,0,1
6362597,741,48442.88,48442.88,513746.19,1,328543,0.000000e+00,-5.093170e-11,0,1,0,0,0
6362598,742,4009058.39,4009058.39,0.00,1,497894,0.000000e+00,-4.009058e+06,0,0,0,0,1
6362599,742,4009058.39,4009058.39,1229761.96,1,464383,0.000000e+00,-1.000000e-02,0,1,0,0,0
6362600,742,652993.91,652993.91,0.00,1,49536,0.000000e+00,-6.529939e+05,0,0,0,0,1
6362601,742,652993.91,652993.91,0.00,1,383644,0.000000e+00,0.000000e+00,0,1,0,0,0
6362602,742,1819543.69,1819543.69,0.00,1,37879,0.000000e+00,-1.819544e+06,0,0,0,0,1
6362603,742,1819543.69,1819543.69,0.00,1,319093,0.000000e+00,0.000000e+00,0,1,0,0,0
6362604,742,54652.46,54652.46,0.00,1,275239,0.000000e+00,-5.465246e+04,0,0,0,0,1
6362605,742,54652.46,54652.46,0.00,1,521845,0.000000e+00,0.000000e+00,0,1,0,0,0
6362606,742,303846.74,303846.74,0.00,1,42650,0.000000e+00,-3.038467e+05,0,0,0,0,1
6362607,742,303846.74,303846.74,343660.89,1,526597,0.000000e+00,0.000000e+00,0,1,0,0,0
6362608,742,258355.42,258355.42,0.00,1,220058,0.000000e+00,-2.583554e+05,0,0,0,0,1
6362609,742,258355.42,258355.42,25176.67,1,512104,0.000000e+00,2.910383e-11,0,1,0,0,0
6362610,742,63416.99,63416.99,0.00,1,240455,0.000000e+00,-6.341699e+04,0,0,0,0,1
6362611,742,63416.99,63416.99,276433.18,1,195955,0.000000e+00,-7.275958e-12,0,1,0,0,0
6362612,743,1258818.82,1258818.82,0.00,1,139604,0.000000e+00,-1.258819e+06,0,0,0,0,1
6362613,743,1258818.82,1258818.82,503464.50,1,71274,0.000000e+00,1.000000e-02,0,1,0,0,0
6362614,743,339682.13,339682.13,0.00,1,251708,0.000000e+00,-3.396821e+05,0,0,0,0,1
6362615,743,339682.13,339682.13,0.00,1,505863,0.000000e+00,0.000000e+00,0,1,0,0,0
6362616,743,6311409.28,6311409.28,0.00,1,260949,0.000000e+00,-6.311409e+06,0,0,0,0,1
6362617,743,6311409.28,6311409.28,68488.84,1,108224,0.000000e+00,-1.000000e-02,0,1,0,0,0
6362618,743,850002.52,850002.52,0.00,1,319713,0.000000e+00,-8.500025e+05,0,0,0,0,1
6362619,743,850002.52,850002.52,6510099.11,1,534595,0.000000e+00,-4.656613e-10,0,1,0,0,0

> Re-balance using Smote Tomek

In [20]:
Xs= data.drop(['isFraud'], axis=1)

y = data['isFraud']

In [21]:
# out of 6M+ transaction, only 8000+ is fraud, the rest is not fraud. The target col "isFraud" is highly imbalanced towards
# no-fraud transactions, therefore we need to balance the dataset. In this case, we use Smote Tomek to do so

In [ ]:
# Apply SMOTE + Tomek links
from imblearn.combine import SMOTETomek
#instantiate
sm = SMOTETomek()
#fit, this takes a while
X_resampled, y_resampled = sm.fit_sample(Xs, y)

In [ ]:
#normalize/standardize Xs features before applying machine learning techniques
#scaling is especially
#from sklearn.preprocessing import StandardScaler
#import numpy as np

#scaler = StandardScaler() # instantiate
#scaled_Xs = scaler.fit_transform(Xs) #fit

#scaled_Xs = pd.DataFrame(scaled_Xs, columns=feature_cols)

In [ ]:
# decision tree
#clf = XGBClassifier(max_depth = 3, scale_pos_weight = weights, \
                n_jobs = 4)