## Final Project, Part 1-2:


#### Problem statement

millions of transactions payments to sellers are made everyday on ecommerce platform like shopee or lazada. with the increase in volume, an intelligent system of fraud detection is required for the employees to deal with the mounting transactions volume.

Questions: Can one predict if a tranction is a fraud, better than the current simply Flagging system that flagged transactions that are more than 200,000.
So far 18 out of 18 flagged transactions are indeed Fraud
but 8200 fraud transactions are NOT flagged.
From given basic information about a transaction: origin, destination, amount

Target Columns: 'isFraud'

Objective"
Build a Classification Model that can predict if a transaction is fraud or not fraud
    - model 1: Classification model
    - model 2: Logistic Regression
Determine if the Classification model is more accurate compared to the baseline:
    - the baseline is the current flagged of fraud

#### Data Source

https://www.kaggle.com/ntnu-testimon/paysim1

#### Risks or limitations
- Curse of dimentionality:
The dataset might be too thin 6m rows and
- imbalance dataset, the not fraud sample might be over presented

### Description

1. step: Maps a unit of time in the real world. In this case 1 step is 1 hour of time.
2. type: CASH-IN, CASH-OUT, DEBIT, PAYMENT and TRANSFER
3. amount: amount of the transaction in local currency
4. nameOrig: customer who started the transaction
5. oldbalanceOrg: initial balance before the transaction
6. newbalanceOrig: customer's balance after the transaction.
7. nameDest: recipient ID of the transaction. 
8. oldbalanceDest: initial recipient balance before the transaction.
9. newbalanceDest: recipient's balance after the transaction.
10. isFraud: identifies a fraudulent transaction (1) and non fraudulent (0)
11. ifFlaggedFraud: flags illegal attempts to transfer more than 200.000 in a single transaction. 


#### Steps
1. from sklearn.preprocessing import StandardScaler
2. from sklearn.preprocessing import LabelEncoder
3. smote
3. train, test, split
4. .fit

5. sklearn.metrics import classification_report
    - the row with the lower support col is the minority class
    - Recal(sensitity) is the ratio of correctly predicted positive to th all observation 
7. calculate the Recall of the minority class, should definitely zoom in when do the classification report
8. might need to sacrifice some precision for recall, because the cost of not detecting a fraud case is very high

9. can adjust threshold in logistic regression (0.5 to 0.3) to adjust for the cost: if the cost of true positive is higher than false positive (adjust threhold is not frequent)

> EDA

In [8]:
import pandas as pd
path_to_file = 'C:\\Users\\harriet.ly\\Documents\\General Assembly Notes\\GA_Projects\\Projects\\Project 4\\fraud.csv'
dataset = pd.read_csv(path_to_file)

In [10]:
# check if col isFlaggedFraud is completed relatd to Col amount. If amount > 200k, isFlaggedFraud =1
data_flaggedFraud = dataset[dataset['isFlaggedFraud']==1]
data_flaggedFraud[data_flaggedFraud['amount']<200000].shape

(0, 11)

In [11]:
# we will omit column isFlaggFraud as it is completed related to col amount, otherwise the amount attribute will be 
# over presented in our model

In [5]:
dataset.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [6]:
dataset.shape

(6362620, 11)

In [7]:
dataset['nameOrig'].nunique() # check if there are nameOrig with multiple transactions

6353307

In [10]:
dataset['type'].unique()
#to use get_dummies to transfor this categorical col into 5 Cols that take values 0 and 1

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

> Data Processing

In [ ]:
# Label encoder on nameOrig and nameDest, these two variables are like IDs of the transactions but we will labelencode them to
# include them into the model because they may contain
# important information on the pattern/frequence of the same nameDest or nameOrg. 
# for isntance,repeated nameOrigin for many nameDest which is an indicator of fraud

from sklearn import preprocessing

#create an instance from LabelEncoder class
le = preprocessing.LabelEncoder()

#Labelencode nameorig, this process might take a while to run
le.fit(dataset['nameOrig'])
le.fit(dataset['nameDest'])

nameOrigin_Encoded=le.transform(dataset['nameOrig'])
nameDest_Encoded=le.transform(dataset['nameDest'])


dataset['nameOrigin_Encoded']=nameOrigin_Encoded
dataset['nameDest_Encoded']=nameDest_Encoded

In [ ]:
dataset.head().sort_values(by='nameOrigin_Encoded',ascending=True)

In [44]:
dataset['isFraud'].sum()

8213

In [45]:
dataset['isFlaggedFraud'].sum()

16

In [47]:
dataset['nameDest'].nunique()

2722362

In [49]:
dataset[dataset['isFlaggedFraud']==1]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,nameOrigin_Encoded
2736446,212,TRANSFER,4953893.08,C728984460,4953893.08,4953893.08,C639921569,0.0,0.0,1,1,5462026
3247297,250,TRANSFER,1343002.08,C1100582606,1343002.08,1343002.08,C1147517658,0.0,0.0,1,1,329539
3760288,279,TRANSFER,536624.41,C1035541766,536624.41,536624.41,C1100697970,0.0,0.0,1,1,116746
5563713,387,TRANSFER,4892193.09,C908544136,4892193.09,4892193.09,C891140444,0.0,0.0,1,1,6052892
5996407,425,TRANSFER,10000000.00,C689608084,19585040.37,19585040.37,C1392803603,0.0,0.0,1,1,5332564
5996409,425,TRANSFER,9585040.37,C452586515,19585040.37,19585040.37,C1109166882,0.0,0.0,1,1,4552191
6168499,554,TRANSFER,3576297.10,C193696150,3576297.10,3576297.10,C484597480,0.0,0.0,1,1,3078566
6205439,586,TRANSFER,353874.22,C1684585475,353874.22,353874.22,C1770418982,0.0,0.0,1,1,2248279
6266413,617,TRANSFER,2542664.27,C786455622,2542664.27,2542664.27,C661958277,0.0,0.0,1,1,5651751
6281482,646,TRANSFER,10000000.00,C19004745,10399045.08,10399045.08,C1806199534,0.0,0.0,1,1,2958273
6281484,646,TRANSFER,399045.08,C724693370,10399045.08,10399045.08,C1909486199,0.0,0.0,1,1,5448044
6296014,671,TRANSFER,3441041.46,C917414431,3441041.46,3441041.46,C1082139865,0.0,0.0,1,1,6081947
6351225,702,TRANSFER,3171085.59,C1892216157,3171085.59,3171085.59,C1308068787,0.0,0.0,1,1,2930980
6362460,730,TRANSFER,10000000.00,C2140038573,17316255.05,17316255.05,C1395467927,0.0,0.0,1,1,3746456
6362462,730,TRANSFER,7316255.05,C1869569059,17316255.05,17316255.05,C1861208726,0.0,0.0,1,1,2856635
6362584,741,TRANSFER,5674547.89,C992223106,5674547.89,5674547.89,C1366804249,0.0,0.0,1,1,6327800